* {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #24292f;
}

main {
    width: 100%;
    padding: 8rem 0 8rem 0;
    background: rgba(9, 105, 218, 0.1);
    text-align: center;
}

main h1 {
    font-size: 3rem;
    font-weight: 800;
}

main h2 {
    margin: 15px 0 0 0;
    font-weight: lighter;
}

main h2 .bold {
    font-weight: 500;
}

section {
    padding: 4rem 0 4rem 4rem;
    font-size: 18px;
    line-height: 28px;
}

section div {
    margin: .5rem 0 0 0;
}

section .bold {
    font-weight: 700;
}

section .highlight {
    color: #0969da;
}